# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Environment variables
.env.*
!.env.example # If you have an example file you want to commit

# Logs
*.log
logs/

# Local development artifacts
.DS_Store
.vscode/
*.sublime-project
*.sublime-workspace

# npm package manager cache
.npm/